*{padding: 0;
    margin: 0;}
    /*navbar*/
.navbar1{display: flex;
justify-content:space-between;
    background-color: #060930;
}
.one{
    margin: 10px 40px;
    
}
.one a{padding: 5px 20px;
color: azure;
text-decoration: none;}
.two{
    margin: 10px 40px;
}
.two a{
    padding: 5px 10px;
    color: azure;
}
.title1{display: flex;
justify-content: center;
align-items: center;
background-color: #f7dad9}
.title1 img{
    width: 80px;
    height: 90px;
}
.title1 h1{
color:#6a097d ;
    font-size: 50px;
    font-weight: 800;
}
.navbar2 {background-color: #595b83;
}
.navbar2 ul{  display: flex;
    margin-bottom: 0;
    align-items: center;
background-color: #595b83;
    margin-left: 20%;
    text-decoration: none;
    
   

}
.A a{color: azure;}
.A1 a{color: azure;}
.A,.A1{
    color:azure;
    padding: 10px 35px;
    list-style: none;
    text-decoration: none;
    

}
.A:hover{border-bottom: 5px solid seashell;}
  .A1{ position: relative;}
 .drop1{ position: absolute;
            width: 160px;
            height: 160px;
           flex-direction: column;
           visibility: hidden;
            top:44px;
            right: 0;
     z-index: 2;
        }
.drop1 li{  padding-bottom: 10px;
padding-top: 5px;
list-style: none;
text-align: center;}
.A1:hover{border-bottom: 5px solid seashell;
        } 
        .A1:hover .drop1{
            visibility: visible;
        }

}

/*hider*/
.sec1{overflow: hidden;}
.o{overflow: hidden;}
.hider1{animation: zoom 10s;
    width: 100%;
    height: 450px;overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(../img/5.jpg);
    background-size: cover;
    background-position: center;
    position: relative; 
}
.hider1 .tit11{ position: absolute;
    
    width: 50%;
    bottom:130px;
    color: beige;
    left: 25%;
    background:linear-gradient(rgba(139,0,139,0.3),rgba(139,0,139,0.4));
    padding: 7px;
    border-radius: 15px;
}
.hider1 .tit11 h1{
    font-size: 20px;
}
.side {width: 50px;
height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
border: 2px solid #595b83;
border-radius: 25px;
position: absolute;
right: 20px;
bottom: 20px;
z-index: 2;
position: fixed;}
/*services*/
.s{padding: 5px;}
.h1ser{color: purple;
margin-left: 30px;
    text-align: center;
text-shadow: 2px 3px 3px #595b83;}
.col-md-2{overflow: hidden;
    
}
.s:hover{background-color: lightyellow;
    padding: 6px;
}
.s img{width: 150px;
height: 120px;
object-fit: cover;
margin-top: 20px;}
.s h3{color:#595b83;}
/*people's veiws*/
.opin{background-color: lightgoldenrodyellow;
padding: 20px;
margin-top: 10px;}
.opin h1{
    color: palevioletred;
    text-shadow: 2px 2px 2px purple;
    text-align: center;
}
.opin .veiw1{display: flex;
margin: 10px;}
.opin .veiw1 img{width: 70pz;
height: 70px;}
.opin .veiw1 h3{color:darkblue;}

/*footer*/

.footer11{background-color:#060930 ;
color:azure;
padding-left: 10px;}
.footer11 h4{color:skyblue;}
.footer11 .two2{ padding-left: 20px;
font-size: 30px;
}
 
/*about*/

.about1{ width: 100%;
  position: relative;
  height: 500px;
}

.about11 img{width: 100%;
height: 500px;
position: relative;}
.about111{width: 55%;
    position: absolute;
    bottom:  100px;
    right: 20px;
    color:purple;
    font-size: 20px;
}
.about111 h1{
    color:plum;
    text-shadow: 2px 2px 2px darkblue;
}

/*form*/
 

.ff11{
    width: 100%;
    background-color: gainsboro;
    position: relative;
}
.form11{
    width: 70%;
    position: absolute;
    right: 15%;
    top:30px;
    margin-bottom: 30px;
    padding: 6px;
     background-color: gainsboro;
    border: 4px 4px 4px purple;

}
#group1{display: block;}

@keyframes zoom{
    from{transform:scale(1,1);}
    to{transform:scale(1.25,1.25);}
}
 @media screen and (max-width: 700px){
     .two{display: none;}
     .navbar2 ul{ margin-left: 4px;}
     .A,.A1{padding: 5px;}
     .hider1 .tit11 h1{font-size: 15px;}
     .hider1 .tit11{left: 18%;
     width: 65%;}
     .about111{font-size: 15px;}
}